{% load static %}

<!doctype html>
<html lang="pt-br" data-bs-theme="auto">
  <head>
    <script src="{% static 'js/color-modes.js' %}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dash</title>

    <link href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" rel="stylesheet">
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/sidebars.css' %}" rel="stylesheet">
    <link href="{% static 'styles/dashboard.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.2.2/select2-bootstrap-5.min.css" rel="stylesheet">
  </head>

  <body>

    {% include "partials/sidebar.html" %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

      {% include "partials/filters.html" %}
      {% include "partials/table.html" %}

    </main>

    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/form-contato.js' %}"></script>
  </body>
</html>
