{% load static %}

<!doctype html>
<html lang="pt-br" data-bs-theme="auto">
  <head>
    <script src="{% static 'js/color-modes.js' %}"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Procurar</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/docsearch.js@3/dist/cdn/docsearch.min.css" rel="stylesheet"
    <link href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" rel="stylesheet">
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/sidebars.css' %}" rel="stylesheet">
    <link href="{% static 'styles/dashboard.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-5-theme/1.2.2/select2-bootstrap-5.min.css" rel="stylesheet">
  </head>

  <body>

    <!-- Sidebar -->
    {% include "base/sidebar.html" %}

    <!-- Conteúdo principal -->
    <main class="container-fluid col-md-9 ms-sm-auto col-lg-10 px-md-4">

      <!-- Filtros -->
      {% include "base/partials/filters.html" %}

      <!-- Tabela de contatos -->
      {% include "base/partials/table.html" with request=request %}

    </main>

    <!-- Scripts -->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/form-contato.js' %}"></script>
  </body>
</html>
