{% extends 'base/base.html' %}
{% load static %}

{% block title %}Procurar Contato{% endblock %}

{% block content %}
<div class="wrap w-100">

  <!-- Filtros -->
  {% include "base/partials/filters.html" %}

  <!-- Tabela de contatos -->
  {% include "base/partials/table.html" with request=request %}

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/procurar.js' %}"></script>

{% endblock %}
